*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --game-background-color: #f6f6f6;
    --gradient: linear-gradient(to right, #93EDc7, #1cd8d2);
    --color-pink: #f2709c;


}
html{
    font-size: 62.5%;

}
button:hover{
    cursor: pointer !important;

}
body{
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    padding: 4rem;
    font-size: 2rem;
    font-weight: 400;
    background: #DC2424;  /* fallback for old browsers */
    background: var(--gradient);
    gap: 4rem;
    

}
.searchbar{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    width: 60%;

}
.searchbar__input{
    border: none;
    width: 40rem;
    font-size: 2rem;
    border: 0.3rem solid var(--color-pink);
    border-radius: 0.5rem;
    padding: 2rem 4rem;
    box-shadow: 0 0.5rem 1rem 0.5rem rbga(242, 112, 156, 0.3);
    padding-right: 6rem;
    


}
.searchbar__glass{
    width:6rem;
    height: 100%;
    background: var(--color-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: white;
    position: absolute;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    left: 38rem;
    text-align: center;
    padding-top: 1.4rem;


}
.checkout{
    width: 70%;
    height: 80%;
    background: var(--game-background-color);
    padding: 4rem;
    display: none;
    margin: 0 auto;
    

}
.checkout__list{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 20rem);


}
.checkout__listitem{
    list-style: none;
    grid-row: span 1;
    border-bottom: 0.3rem solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;




}
.checkout__image{
    height: 100%;
    width: auto;
    object-fit: contain;

}

.modal{
    width: 50rem;
    height: 30rem;
    position: fixed;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    box-shadow: 0 0 5rem 0 rgba(0,0,0,0.3);
    color: green;
    font-size: 200%;
    font-weight: 400;
    border-radius: 0.5rem;
    display: none;

}
.shoppingcart{
    position: fixed;
    top: 4rem;
    right: 4rem;
    background: black;
    width: 8rem;
    height: 8rem;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 100%;


}
.shoppingcart:hover{
    cursor: pointer;

}
.shoppingcart__message{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: var(--gradient);
    border: 0.2 rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;


}
.fill{
    height: 100vh;
    width: 100%;

}
.games{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 50rem 50rem;
    gap: 1rem;


}
.games__game{
    list-style: none;
    background: var(--game-background-color);
    border-radius: 0.5rem;
    transition: 0.8s opacity;




}
.games__game--third{
    grid-column: span 2;
    padding-left: 2rem;


}
.games__figure{
    width: 100%;
    height: 60%;
    

}
.games__image{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.games__body{
    padding: 2rem;
    height: 40%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;

}
.games__h2{
    font-size: 300%;
    font-weight: 700;

}
.games__h3{
    font-size: 120%;
    font-weight: 400;

}
.games__stars{
    color: gold;
    font-size: 130%;

}
.games__button{
    width: 20rem;
    border: none;
    font-size: 90%;
    font-family: 'lato', sans-serif;
    color: white;
    background: black;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-popup{
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

@media screen and (max-width:62.5rem){
    body{
        padding:2rem;

    }
    .searchbar{
        margin: 0;

    }
    .searchbar__input{
        flex-shrink: 0;
        width: 20rem;

    }
    .searchbar__glass{
        left: calc(30rem - 6rem);


    }
 
    main{
        width: 100%;

    }
    .games{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65rem 65rem 65rem;
        gap: 1rem;

    }
    .games__game--third{
        grid-column: span 1;
    }
    .modal{
        width: calc(100% - 4rem);

    }
    .checkout{
        width: 100%;

    }
    .checkout__list{
        grid-template-rows: repeat(3, 45rem);
    }
    .checkout__listitem{
        flex-direction: column;
        gap: 0.5rem;
        justify-content: space-between;
        padding-bottom: 2rem;

    }
    .checkout__image{
        height: 40%;
        width: 100%;
    }
    .shoppingcart{
        top: 20%;
    }
    .a-popup{
        animation-name: "broken";
        animation-duration: 0s;


    }
}

@keyframes popup{
    from{
        opacity:0;
        transform: translateY(2rem);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

